.card {
    list-style: none;
    padding: 40px;
    color: $gray;
    text-align: center;
	border-radius: 20px;
	position: relative;
}

.card::after {
    content: "";
    display: block;
    width: 50%;
    height: 45%;
    border-radius: 100%;
    background-color: $white;
    opacity: .7;
    position: absolute;
    top: 15%;
    left: 25%;
}

.steel {
	background-color: $pokemon-steel;
}

.fire {
	background-color: $pokemon-fire;
}

.grass {
	background-color: $pokemon-grass;
}

.electric {
	background-color: $pokemon-electric;
}

.water, .ice {
	background-color: $pokemon-water;
}

.ground {
	background-color: $pokemon-ground;
}

.rock {
	background-color: $pokemon-rock;
}

.fairy {
	background-color: $pokemon-fairy;
}

.poison {
	background-color: $pokemon-poison;
}

.bug {
	background-color: $pokemon-bug;
}

.dragon {
	background-color: $pokemon-dragon;
}

.psychic {
	background-color: $pokemon-psychic;
}

.flying {
	background-color: $pokemon-flying;
}

.fighting {
	background-color: $pokemon-fighting;
}

.normal {
	background-color: $pokemon-normal;
}

.card:hover {
	animation: bounce 0.5s linear;
}

.card-title {
	text-transform: capitalize;
	margin-bottom: 0px;
	font-size: 32px;
	font-weight: normal;
	position: relative;
	z-index: 2;
}

.card-subtitle {
	margin-top: 5px;
	color: $faint-gray;
	font-weight: lighter;
	position: relative;
	z-index: 2;
}

.card-image {
	width: 120px;
	height: 120px;
	position: relative;
	z-index: 2;
}

.card-image img {
	margin-top: 20px;
	max-width: 90%;
}

@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}