body {
    background: $body-1;
    background: linear-gradient(to right, $body-2, $body-3);
    color: $white;
    margin: 0;
    font-family: rubik;
}

.container {
	padding: 40px;
	margin: 0 auto;
}

.titulo {
    text-align: center;
	font-size: 54px;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
}