$body-1: #EFEFBB;
$body-2: rgb(197, 230, 236);
$body-3: rgb(239, 187, 230);
$white: #fff;
$gray: #111111;
$faint-gray: #666;

$pokemon-number: rgba(0, 0, 0, 0.1);
$pokemon-img: rgba(255, 255, 255, 0.6);
$pokemon: rgba(100, 100, 100, 0.5);
